.App {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1522748906645-95d8adfd52c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3ByaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #BAD7E9;
}

h1 {
  font-size: 40px;
  color: #39B5E0;
  text-shadow: 2px 3px 5px red;
}

button {
  margin-top: 0px;
  padding: 12px;
  background-color: #FAD3E7;
  border-radius: 10px;
  border: 3px solid #39B5E0;
  color: red;
  font-weight: bold;
}